@charset "utf-8";
body {
   font: normal 16px arial, verdana;
   
}
h1 {
    text-align: center;
    background-color: black;
    color: red;
 }
 h2 {
    background-color: white;
    color: black;
 }
 h3 {
    color: white;
 }
 p {
    color: white;
    text-indent: 30px;
 }
 .lista {
   color: white;
 }
.center {
   display: flex; 
   justify-content: center;
}
.safe {
   display: flex;
   justify-content: center;
}
.hehe {
   display: flex;
   justify-content: center;
   font-size:large
   
}
.t {
   font-size: 50px
}
#pg {
   text-align: center;
   color: black;
   
}
